.cardContainer {
  width: 16em;
  margin: 12px;
  //padding: 1em 1.43em;
  background: #e7f1f7;
  border: 2px solid #d1d5da;
  border-radius: 3px;
}

.cardHeader {
  padding: 1.5rem 1.5rem 0.5rem;
  h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.cardHeader > h2 {
}

.cardBody {
  padding: 0.5rem 1.5rem;
}
