$spring-wood: #fbfbf7;
$indian-khaki: #c2b095;
$sisal: #dad0bf;
$domino: #89765e;
$birch: #3f3424;
$copper: #c17d31;

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: flex-end;
  padding: 20px 0;
  background: $indian-khaki;
  margin-block-end: 0;
  border-bottom: 4px solid $domino;
}

.nav-item {
  color: #999999;
  font-size: 1.8rem;
  margin-right: 1.3rem;
  text-decoration: none;

  a,
  a * {
    text-decoration: none;
  }

  a,
  a:hover,
  a:visited {
    color: $domino;
  }
}

.nav-item:hover {
  color: #333333;
}
