.container1 {
  margin: 62px 30px 0 30px;
  //  max-width: 850px;
  padding: 0rem;

  // width: 1280px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding-top: 80px;
  width: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1290px) {
  .container {
    max-width: 1260px;
  }
}

.content {
  flex-grow: 1;
}
